.card {
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  color: #252422;
  margin-bottom: 16px;
  padding: 32px;
  position: relative;

  .card-title {
    font-size: 18px;
    color: #252422;
  }

  .card-body {
    display: flex;
  }

  .card-center {
    align-self: center;
  }

  .round-1 {
    border-radius: 3px;
  }

  .round-2 {
    border-radius: 6px;
  }

  .round-3 {
    border-radius: 9px;
  }
}
